<!doctype html>
<html lang="en">

<head>
	<title>APP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>

	<div class="page-container">
		<div class="pageTitle-container">
			<div class="page-Title">
				APP LOGO
			</div>
			<div class="page-Search">
				<div class="search-50">
					<img src="/images/icons/search-50.png" alt="search button"><span> Search</span>
				</div>

			</div>
		</div>
		<div class="categories-container">
			<div class="content-container">
				<div class="content-Title">
					Popular Categories
				</div>
				<div class="content-More">
					<a href="/browse">More &gt;</a>
				</div>
			</div>
			<div class="categories-button">
				<a href="/play/Random">
					<div class="categories">
						Random <img src="/images/icons/random-100.png" alt="random play icon" height="70">
					</div>
				</a>

				{{#each categories}}
					<a href="/play/{{title}}">

						<div id="{{id}}" class="categories">
							{{title}}
						</div>

					</a>
				{{/each}}
			</div>

		</div>
		<div class="recently-container">
			<div class="content-container">
				<div class="content-Title">
					Browsing History
				</div>
				<div class="content-More">
					More &gt;
				</div>
			</div>
			<div class="recently-button">

				<div class="recently">

				</div>

				<div class="recently">

				</div>
			</div>
		</div>





		<div class="nav-container">

			<a href="/">
				<div class="home nav-divider">
					<div class="nav-images">
						<img src="/images/icons/home-100.png" alt="home button">
					</div>
					<div class="nav-title">
						Home
					</div>
				</div>
			</a>

			<a href="/browse">
				<div class="browse nav-divider">
					<div class="nav-images">
						<img src="/images/icons/browse-100.png" alt="browse button">
					</div>
					<div class="nav-title">
						Browse
					</div>
				</div>
			</a>
			<a href="/">
				<div class="profile nav-divider">
					<div class="nav-images">
						<img src="/images/icons/profile-100.png" alt="profile button">
					</div>
					<div class="nav-title">
						Profile
					</div>

				</div>
			</a>
			<a href="/">
				<div class="search">
					<div class="nav-images">
						<img src="/images/icons/search-100.png" alt="search button">
					</div>
					<div class="nav-title">
						Search
					</div>
				</div>
			</a>
		</div>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/index.js"></script>
</body>

</html>
