<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>APP</title>
  <link rel="stylesheet" href="css/play.css">
</head>

<body>
  <div class="page-container">
    <div class="pageTitle-container">
      <div class="page-Options">
        <div class="page-Back">
          <a href="/">&lt;Back  </a>
        </div>
        <div class="page-More">
          Info
        </div>
      </div>


      <div class="page-Title">
        Activities
      </div>
      <div class="page-Options">
        <div class="page-Save">
          Save
        </div>
        <div class="page-Filter">
          Filter
        </div>
      </div>

    </div>
    <div class="play-image">
      
    </div>

    <div class="nav-container">

      <a href="/">
        <div class="home">
          <div class="nav-images">
            <img src="images/icons/home-100.png" alt="home button">
          </div>
          <div class="nav-title">
            Home
          </div>
        </div>
      </a>

      <a href="/">
        <div class="browse">
          <div class="nav-images">
            <img src="images/icons/browse-100.png" alt="browse button">
          </div>
          <div class="nav-title">
            Browse
          </div>
        </div>
      </a>
      <a href="/">
        <div class="profile">
          <div class="nav-images">
            <img src="images/icons/profile-100.png" alt="profile button">
          </div>
          <div class="nav-title">
            Profile
          </div>

        </div>
      </a>
      <a href="/">
        <div class="search">
          <div class="nav-images">
            <img src="images/icons/search-100.png" alt="search button">
          </div>
          <div class="nav-title">
            Search
          </div>
        </div>
      </a>
    </div>
  </div>



</body>

</html>
