<!doctype html>
<html lang="en">

  <head>
    <title>Profile</title>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">

  </head>

  <body>

    <h1> profile page </h1>


    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/index.js"></script>
  </body>

</html>